__pycache__/
*.pyc
*.pyo
.venv/
.pytest_cache/

.env
.DS_Store

.git/
airflow_home/
logs/
exports/
processed_parquet/
encrypted_parquet/

private_key.pem
public_key.pem

dags/__pycache__/
pipeline/__pycache__/

